.app > .dev {
    background-color: var(--bg-dull);
    color: var(--primary-dull);
    margin-top: 0.8rem;
    width: 95vw;
    padding: 0.2rem 0.4rem;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
}
.app > .dev .row p {
    font-size: 0.72rem;
    line-height: 1.4;
    text-wrap: pretty;
}
.app > .dev .row.jp p {
    line-height: 1.6;
}
.app > .dev .row p:not(:first-child) {
    text-indent: 1em;
}