@font-face {
	font-family: "Atkinson Hyperlegible Next";
	font-weight: 200 800;
	font-style: normal;
	font-variant-numeric: lining-nums proportional-nums;
	src: url("/src/assets/fonts/AtkinsonHyperlegibleNext-VariableFont_wght.ttf") format("truetype");
}

@font-face {
	font-family: "Atkinson Hyperlegible Next";
	font-weight: 200 800;
	font-style: italic;
	src: url("/src/assets/fonts/AtkinsonHyperlegibleNext-Italic-VariableFont_wght.ttf") format("truetype");
}

@font-face {
	font-family: "Questrial";
	font-weight: 400;
	font-style: normal;
	src: url("/src/assets/fonts/Questrial-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Material Icons";
	font-weight: 400;
	font-style: normal;
	src: url("/src/assets/fonts/MaterialIconsOutlined-Regular.otf") format("opentype");

}

:root {
	--brown-100: #FFF8E5;
	--brown-200: #D5C8AE;
	--brown-300: #AD9A7A;
	--brown-400: #9A8361;
	--brown-500: #876D49;
	--brown-600: #755731;
	--brown-700: #634217;
	--brown-800: #3D2412;
	--brown-900: #1D0D08;
	--deep-green: #1C6C00;

	--white: #FFFFFF;
	--blue: #76B9E8;
	--yellow: #E9CA00;
	--green: #52BF56;
	--red: #F06455;

	--primary: var(--brown-100);
	--primary-dull: var(--brown-200);
	--primary-duller: var(--brown-300);
	--bg: var(--brown-900);
	--bg-dull: var(--brown-800);
	--secondary-brighter: var(--brown-500);
	--secondary-bright: var(--brown-600);
	--secondary: var(--brown-700);
	--secondary-dull: var(--brown-800);
	--accent: var(--deep-green);

	--add: var(--blue);
	--delete: var(--red);
	--edit: var(--yellow);
	--copy: var(--green);
	--text: var(--primary);

	--sans: "Atkinson Hyperlegible Next", Verdana;
	--heading: "Questrial", Verdana;
	--mono: "Atkinson Hyperlegible Next", monospace;

	box-sizing: border-box;
	font: 18px/145% var(--sans);
	letter-spacing: 0.18px;
	color-scheme: light dark;
	color: var(--text);
	background: var(--bg);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@media (max-width: 1024px) {
		font-size: 16px;
	}
}
/* 
@media (prefers-color-scheme: dark) {
	:root {
		--text: #9ca3af;
		--text-h: #f3f4f6;
		--bg: #16171d;
		--border: #2e303a;
		--code-bg: #1f2028;
		--accent: #c084fc;
		--accent-bg: rgba(192, 132, 252, 0.15);
		--accent-border: rgba(192, 132, 252, 0.5);
		--social-bg: rgba(47, 48, 58, 0.5);
		--shadow:
			rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
	}
} */

body {
	margin: 0;
}

#root {
	width: 100vw;
	max-width: 100%;
	margin: 0 auto;
	text-align: left;
	border-inline: 1px solid var(--border);
	min-height: 100svh;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

h1,
h2 {
	font-family: var(--heading);
	font-weight: 500;
}

h2 {
	padding: 0;
	margin: 0 0 -2px 0;
	font-size: 1.25em;
	line-height: 1.5em;
}

p {
	margin: 0;
}

code {
	font-family: var(--mono);
	display: inline-flex;
	color: var(--text-h);
	background: var(--code-bg);
}

input,
select,
button {
	border: none;
	padding: 0;
	margin: 0;
	font-family: var(--sans);
}
button {
	cursor: pointer;
}

.icon {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	display: inline-block;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
}