.palette {
	.grid {
		.item,
		.item.header,
		.item.new,
		.edit-item {
			grid-column-end: span 1;
			grid-row: span 1;
		}
	}

	.item .rank {
		--rank-great-main: #8ACC5A;
		--rank-great-dark: #667A00;
		--rank-good-main: #F3CE62;
		--rank-good-dark: #A87700;
		--rank-meh-main: var(--white);
		--rank-none-main: var(--white);
	}
	.item .rank.great {
		--rank-bg: var(--rank-great-main);
		--rank-border: 0.2rem solid var(--rank-great-dark);
	}
	.item .rank.good {
		--rank-bg: var(--rank-good-main);
		--rank-border: 0.2rem solid var(--rank-good-dark);
	}
	.item .rank.meh {
		--rank-bg: var(--rank-meh-main);
		--rank-border: none;
	}
	.item .rank.none {
		--rank-bg: var(--rank-none-main);
		--rank-border: none;
	}
	
	.item {
		flex: 1 0 0;
		min-width: calc(2.4rem + 1.25rem + 1.36rem * 4);
		max-width: 16rem;
		height: 1.36rem;
		display: flex;
		align-items: stretch;
		background-color: var(--white);
	}
	.item .rank {
		width: 2.4rem;
		padding-right: 0.4rem;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		background-color: var(--rank-bg);
		border-left: var(--rank-border);
	}
	.item .rank p {
		text-align: right;
		font-size: 0.8rem;
		line-height: 1;
		font-variant-numeric: lining-nums proportional-nums;
		color: var(--bg);
	}
	.item .color {
			flex: 1 0 0;
			border-left: var(--rank-border);
	}
	.item .feature-color {
			width: 1.25rem;
			display: flex;
			align-items: stretch;
			justify-content: center;
	}
	.item .feature-color .picked-color-overlay {
				width: calc(100% / 3);
	}
	.item button {
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				width: 1.36rem;
				height: 1.36rem;
				color: var(--bg);
	}
	.item button.edit {
				background-color: var(--edit);
	}
	.item button.copy {
				background-color: var(--copy);
	}
	.item button.delete {
				background-color: var(--delete);
	}
	.item button .icon {
					font-size: 0.8rem;
	}
	
	.item.header {
		height: 1.2rem;
		display: flex;
		align-items: flex-end;
	}
	.item.header .rank,
	.item.header .color {
		height: 100%;
		display: flex;
		align-items: center;
	}
	.item.header .rank {
		width: 2.4rem;
		justify-content: flex-end;
		text-align: right;
		padding-right: 0.4rem;
	}
	.item.header .color {
		flex: 1 0 0;
		justify-content: flex-start;
		text-align: left;
		padding-left: 0.4rem;
		border-left: 0.4px solid #C6C6C6;
	}
	.item.header p {
		font-size: 0.6rem;
		line-height: 1;
		color: var(--bg-dull);
	}
	.item.header .meta {
			width: calc(2rem + 3.7rem);
	}
	
	.item.new {
		align-items: center;
		padding-left: 2.4rem;
	}
	.item.new button {
			width: fit-content;
			padding: 0 0.3rem 0 0.1rem;
			background-color: var(--add);
			color: var(--bg);
			display: flex;
			align-items: center;
			gap: 0.1rem;
	}
	.item.new button p,
	.item.new button .icon {
				font-size: 0.8rem;
	}
	
	div:has(.edit-item) {
		container-type: inline-size;
		container-name: edit-palette-item-container;
	}
	.edit-item {
		background-color: white;
		color: var(--bg);
		align-self: stretch;
		display: grid;
		min-width: 10rem;
		max-width: 20rem;
		height: 3.2rem;
		grid-template-areas:
			"preview coords space"
			"preview coords other";
		grid-template-rows: minmax(0,1fr) fit-content(100%);
		grid-template-columns: 1.25rem 6.25rem minmax(0,1fr);
	
		@container edit-palette-item-container (inline-size <= 15.25rem) {
			height: 4.8rem;
			grid-template-areas:
				"space   space  space space"
				"preview coords other .    ";
			grid-template-rows: minmax(0,1fr) 3.2rem;
			grid-template-columns:
				1.25rem
				minmax(calc(10rem - 1.25rem - 3.2rem), 6.25rem)
				minmax(3.2rem, calc(3.2rem + 0.4rem))
				minmax(0,1fr);
		}
	}
	.edit-item .preview {
			grid-area: preview;
	}
	.edit-item .coords {
			grid-area: coords;
	}
	.edit-item .space {
			grid-area: space;
	}
	.edit-item .actions-and-warning {
			grid-area: other;
	}
	
	.edit-item .preview {
			display: flex;
			flex-direction: column;
			align-items: stretch;
	}
	.edit-item .preview .now,
	.edit-item .preview .prev {
				height: 50%;
	}
	.edit-item .coords {
			height: 3.2rem;
			display: flex;
			flex-direction: column;
	}
	.edit-item .coords .coord {
				flex: 1 0 0;		
				display: flex;
				flex-direction: row;
	}
	.edit-item .coords .coord .label,
	.edit-item .coords .coord input {
					display: flex;
					align-items: center;
					font-size: 0.8rem;
					line-height: 1rem;
	}
	.edit-item .coords .coord .label {
					width: 1.6rem;
					justify-content: end;
					text-align: right;
					padding-right: 0.25rem;
					background-color: var(--secondary-brighter);
					color: var(--primary);
	}
	.edit-item .coords .coord input {
					flex: 1 0 0;
					justify-content: start;
					text-align: left;
					padding-left: 0.2rem;
					background-color: var(--primary);
					color: var(--bg);
	}
	.edit-item select.space {
			height: 1.2rem;
			margin-left: 0.4rem;
			background-color: var(--primary);
			color: var(--bg);
			@container edit-palette-item-container (inline-size <= 15.25rem) {
				margin: 0;
			}
	}
	.edit-item .actions-and-warning {
			display: flex;
			flex-direction: row;
			margin-left: 0.4rem;
			@container edit-palette-item-container (inline-size <= 15.25rem) {
				flex-direction: column;
				justify-content: end;
				margin-left: min(0.4rem, calc(100% - 3.2rem));
			}
	}
	.edit-item .actions-and-warning button {
				width: 3.2rem;
				height: calc(4rem / 3);
				justify-content: center;
				align-items: center;
	}
	.edit-item .actions-and-warning button.submit {
				background-color: var(--accent);
				color: var(--primary);
	}
	.edit-item .actions-and-warning button.cancel {
				background-color: #F4F4F3;
				color: var(--bg);
	}
	.edit-item .actions-and-warning .out-of-gamut {
				display: flex;
				align-items: center;
				align-self: stretch;
				padding-left: 0.4rem;
	}
	.edit-item .actions-and-warning .out-of-gamut img {
					width: 1rem;
					height: 1rem;
	}

}