.palette {
	.grid {
		display: grid;
		grid-auto-flow: column;
		grid-auto-rows: max-content;
		grid-template-columns: repeat(var(--rows), minmax(10rem, 1fr));
		width: min(100%, calc(var(--rows) * 20rem));
		height: fit-content;
	}
	.grid-config {
		display: flex;
		align-items: center;
		padding: 0.4rem 0;
		gap: 4px;
		color: var(--secondary);
	}
	.grid-config label,
	.grid-config input {
			display: flex;
			align-items: center;
			font-size: 0.8rem;
			line-height: 1.2rem;
			color: var(--secondary);
	}
	.grid-config label {
			gap: 0.2rem;
	}
	.grid-config input {
			justify-content: start;
			text-align: left;
			padding-left: 0.2rem;
			background-color: var(--white);
	}
}
