.palette {
    padding: 0 12px;
    background-color: var(--primary);
}

.palette .grid-config {
        display: flex;
        align-items: center;
        padding: 0.4rem 0;
        gap: 4px;
        color: var(--secondary);
}
.palette .grid-config label,
.palette .grid-config input {
            display: flex;
            align-items: center;
            font-size: 0.8rem;
            line-height: 1.2rem;
            color: var(--secondary);
}
.palette .grid-config label {
            gap: 0.2rem;
}
.palette .grid-config input {
            justify-content: start;
            text-align: left;
            padding-left: 0.2rem;
            background-color: var(--white);
}

.palette .grid {
    display: grid;
    grid-auto-flow: column;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(var(--rows), minmax(10rem, 1fr));
    width: min(100%, calc(var(--rows) * 20rem));
    height: fit-content;
}

.palette .grid .divider {
    grid-column: span 1;
    grid-row: span 1;
    min-width: 10rem;
    max-width: 20rem;
    height: 1px;
    background-color: var(--bg);
}