.palette {
    width: 95vw;
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--primary);
}
.palette .dev {
        width: 100%;
        background-color: var(--primary-dull);
        margin: 2.4rem 0 0.6rem;
        padding: 0.4rem 0.4rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
}
.palette .dev p {
            font-size: 0.72rem;
            margin: 0;
            line-height: 1.4;
            color: var(--bg);
            font-weight: 500;
}
.palette .dev .inputs {
            display: grid;
            grid-auto-flow: column;
            grid-template-rows: fit-content(100%) fit-content(100%) fit-content(100%);
            grid-template-columns: fit-content(100%) fit-content(100%) fit-content(100%);
            gap: 0.2rem 0.6rem;
            margin-top: 0.8rem;
}
.palette .dev .inputs button {
                width: fit-content;
                height: fit-content;
                font-size: 0.8rem;
                line-height: 1.25;
                padding: 0 0.2rem;
}

